
.footer {

    background-color: rgb(250, 246, 246);
    color: black;
    text-align: center;
    font-size: 36px;
    position: absolute;
    bottom: 1;
    width: 100%;
    justify-content: end;
    
    padding: 20px 0 40px 0 ;
    
    
}

.copyright {
    float: left;
    width: 20%;
    max-height: 10%;
    
}

.datos {
    float: left;
    width: 55%;
    
}

.redes-contenedor {
    display: flex;
    align-items: right;
    justify-content: right;
    margin-right: 2%;

    & ul li {
        display: inline-block;
        margin: 30px 20px;
        width: 80px;
        text-align: right;
    }

    ul li a {
        display: inline-block;
        padding: 0 20px;
        color: black;
        transition: .2s;
    }

    nav {
        float: right;
    }
}
@media only screen and (min-width:520px) and (max-width:768px) {
    .footer{
        width: 100%;
        
    }
    .copyright{
        font-size: 25px;

    }
    .datos{   
        font-size: 25px;
    
    .redes-contenedor{
        font-size: 25px;
        
    }
}
}
.footer2 {

    background-color: rgb(250, 246, 246);
    color: black;
    text-align: center;
    font-size: $font-size;
    position: absolute;
    bottom: 1;
    width: 98%;
    justify-content: end;
    
    padding: 20px;
    
}

.footer_p11 {
    float: left;
    width: 20%;
    max-height: 10%;
    
}

.footer_p22 {
    float: left;
    width: 55%;
    
}

@media only screen and (min-width:520px) and (max-width:768px) {
    .footer2{
        width: 92%;
    }
    .footer_p11{
        font-size: 25px;

    }
    .footer_p22{   
        font-size: 25px;
    
    .redes-contenedor{
        font-size: 25px;
        
    }
}
}
