.navbar {
    background-color: rgb(255, 254, 253);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;


    & ul li {
        margin-right: 3em;
        list-style: none;
    }

    & ul li:hover {
        border: solid 1px black;
        transform: scale(1, 1);
    }

    & a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        cursor: pointer;
        background-color: rgb(255, 255, 255);
    }

    & a:hover {
        color: crimson;
    }


}

.imagenchica {
    height: 200px;
    width: 250px;
    grid-column: 2 / 4;
}

.menusuperior {
    grid-column: 4 / 7;
    display: flex;
    font-size: $font-size;
    background-color: rgb(255, 255, 255);
}

@media only screen and (min-width:768px) {
    .menusuperior {
        flex-wrap: wrap;

    }

}

