@import 'variables.scss';


.hero {
    display: grid;
    height: 60vh;
    background-color: $backcolor;
    background-size: 100%;
}

.hero .imagenfr {
    height: 750px;
    width: 1300px;
    display: grid;
    grid-column: initial;
    float: left;
    
}

.textort {
    background-color: $backcolor;
    text-align: center;
    word-spacing: 5px;
    margin-top: 4%;
    display: flex;
    justify-content: left;


}
.textortt {
    background-color: $backcolor;
    display: flex;
    justify-content: center;
}

.info-content {

    color: $principal;
    font-size: 45px;
    text-align: center;
    align-items: center;
    background-color: beige;
    

}

.btn1 {
    text-decoration: none;
    font-weight: 600;
    font-size: 35px;
    color: beige;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: red;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 35px;
    cursor: pointer;
    .color_boton {
    background-color: beige;
    }
}
