@import 'variables.scss';
.papa {
    background-color: $backcolor;
}

.imagen_rec {
    width: 900px;
    height: 750px;
    float: left;
    background-color: $backcolor;

}

.texto1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: justify-all;
    background-color: $backcolor;
    color: black;
    margin-left: 44%;
    margin-right: 4%;
    
    



}

.texto2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: justify-all;
    background-color: $backcolor;
    color: $black;
    margin-left: 44%;
    margin-right: 4%;
    margin-top: 1.5%;



}

.texto3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: justify-all;
    background-color: $backcolor;
    color: $black;
    margin-left: 44%;
    margin-right: 4%;
    margin-bottom: -0.7%;
    margin-top: 2%;



}
.textox{
    background-color: $backcolor;
}

.subtitulo_2 {
    background-color: $backcolor;
    font-family: "Times New Roman", Times, serif;
    font-size: 120px;
    font-style: italic;
    letter-spacing: 15px;
    color: rgb(77, 76, 76);
    letter-spacing: normal;
    text-align: center;
    margin-top: 0.6%;
    margin-bottom: 0%;
    padding: 22px;
    
    
}

@media only screen and (min-width:520px) and (max-width:768px) {
    .imagen_rec{
        width: 100%;
        float: none;
    }
    .texto1{
        font-size: x-large;
    }
    .texto2{
        font-size: x-large;
    }
    .texto3{
        font-size: x-large;
        text-align: center;
        word-spacing: 3px;
        
    }
    .subtitulo_2{
        font-size: $font-size;
    }
}