@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.section_1 {
  background-color: rgb(249, 249, 221);
}

.container-card {
  width: 100%;
  display: flex;
  max-width: 2100px;
  margin: auto;
  background-color: rgb(249, 249, 221);
}

.card {
  width: 100%;
  height: 730px;
  margin: 80px;
  border-radius: 6px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
  margin-top: 20px;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card img {
  width: 100%;
  height: 400px;
}

.falaut {
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 32px;
}

.debor {
  list-style: none;
  font-size: 32px;
  word-spacing: 5px;
  padding: 10px;
}

.card .contenido-card {
  padding: 15px;
  text-align: center;
}
.card .contenido-card h3 {
  margin-bottom: 10px;
  color: #000;
}

.card .contenido-card a:hover {
  background: #2fb4cc;
  color: #fff;
}

@media only screen and (min-width: 520px) and (max-width: 968px) {
  .container-card {
    flex-wrap: wrap;
  }
  .card {
    margin: 15px;
  }
}
* {
  margin: 0;
}

.hero {
  margin-top: 1%;
  display: grid;
  height: 76vh;
  background-color: rgb(249, 249, 221);
  background-size: 100%;
  position: relative;
}

.hero .imagenfr {
  margin-top: 2%;
  margin-left: 1%;
  height: 100%;
  max-height: 700px;
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-column: initial;
  float: left;
}

.textort {
  background-color: rgb(249, 249, 221);
  text-align: center;
  word-spacing: 5px;
  margin-top: 6%;
  display: flex;
  justify-content: left;
}

.textortt {
  background-color: rgb(249, 249, 221);
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.info-content {
  color: rgb(251, 9, 9);
  font-size: 45px;
  text-align: center;
  align-items: center;
  background-color: beige;
}

.btn1 {
  text-decoration: none;
  font-weight: 600;
  font-size: 35px;
  color: beige;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: red;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  border-radius: 35px;
  cursor: pointer;
  margin-top: 20px;
}
.btn1 .color_boton {
  background-color: beige;
}

@media screen and (max-width: 970px) {
  .textort {
    display: none;
    visibility: hidden;
  }
  .textortt {
    display: none;
    visibility: hidden;
  }
  .btn1 {
    display: none;
    visibility: hidden;
  }
}
@media screen and (max-width: 1200px) {
  .textort {
    display: none;
    visibility: hidden;
  }
  .textortt {
    display: none;
    visibility: hidden;
  }
  .btn1 {
    display: none;
    visibility: hidden;
  }
}
/* servicios*/
.navbar {
  background-color: rgb(255, 254, 253);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}
.navbar ul li {
  margin-right: 3em;
  list-style: none;
}
.navbar ul li:hover {
  border: solid 1px black;
  transform: scale(1, 1);
}
.navbar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
.navbar a:hover {
  color: crimson;
}

.imagenchica {
  height: 200px;
  width: 250px;
  grid-column: 2/4;
}

.menusuperior {
  grid-column: 4/7;
  display: flex;
  font-size: 32px;
  background-color: rgb(255, 255, 255);
}

@media only screen and (min-width: 520px) and (max-width: 768px) {
  .menusuperior {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 720px) and (max-width: 968px) {
  .menusuperior {
    flex-wrap: wrap;
  }
}
.footer {
  background-color: rgb(250, 246, 246);
  color: black;
  text-align: center;
  font-size: 36px;
  position: absolute;
  bottom: 1;
  width: 100%;
  justify-content: end;
  padding: 20px 0 40px 0;
}

.copyright {
  float: left;
  width: 20%;
  max-height: 10%;
}

.datos {
  float: left;
  width: 55%;
}

.redes-contenedor {
  display: flex;
  align-items: right;
  justify-content: right;
  margin-right: 2%;
}
.redes-contenedor ul li {
  display: inline-block;
  margin: 30px 20px;
  width: 80px;
  text-align: right;
}
.redes-contenedor ul li a {
  display: inline-block;
  padding: 0 20px;
  color: black;
  transition: 0.2s;
}
.redes-contenedor nav {
  float: right;
}

@media only screen and (min-width: 520px) and (max-width: 768px) {
  .footer {
    width: 100%;
  }
  .copyright {
    font-size: 25px;
  }
  .datos {
    font-size: 25px;
  }
  .datos .redes-contenedor {
    font-size: 25px;
  }
}
.footer2 {
  background-color: rgb(250, 246, 246);
  color: black;
  text-align: center;
  font-size: 32px;
  position: absolute;
  bottom: 1;
  width: 98%;
  justify-content: end;
  padding: 20px;
}

.footer_p11 {
  float: left;
  width: 20%;
  max-height: 10%;
}

.footer_p22 {
  float: left;
  width: 55%;
}

@media only screen and (min-width: 520px) and (max-width: 768px) {
  .footer2 {
    width: 92%;
  }
  .footer_p11 {
    font-size: 25px;
  }
  .footer_p22 {
    font-size: 25px;
  }
  .footer_p22 .redes-contenedor {
    font-size: 25px;
  }
}
.container {
  position: relative;
  width: 95.2%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
  background-color: rgb(249, 249, 221);
}

.container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  filter: blur(50px);
  z-index: -1;
}

.contact-box {
  max-width: 1050px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
  background: url("../imagenes/20170527_175529.jpg") black no-repeat center;
  background-size: cover;
  height: 100%;
}

.right {
  padding: 25px 40px;
  font-size: 50px;
}

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 20px;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  font-size: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #27ae60;
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 200px;
  }
}
.figurita {
  background-color: beige;
}

.container-img {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
}

.box-img:hover {
  border: solid 4px white;
  transform: scale(1, 1);
}

.container-img .box-img figure {
  width: 100%;
  height: 100%;
}

.container-img .box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-img .box-img:nth-child(1) {
  grid-column-start: span 2;
}

.container-img .box-img:nth-child(4) {
  grid-row-start: span 2;
}

@media screen and (max-width: 800px) {
  .container-img {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-rows: 200px;
  }
  .container-img .box-img:nth-child(1) {
    grid-column-start: span 1;
  }
}
@media screen and (max-width: 500px) {
  .container-img {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .container-img .box-img img {
    height: 200px;
  }
}
.papa {
  background-color: rgb(249, 249, 221);
}

.imagen_rec {
  width: 900px;
  height: 750px;
  float: left;
  background-color: rgb(249, 249, 221);
}

.texto1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: justify-all;
  background-color: rgb(249, 249, 221);
  color: black;
  margin-left: 44%;
  margin-right: 4%;
}

.texto2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: justify-all;
  background-color: rgb(249, 249, 221);
  color: #000;
  margin-left: 44%;
  margin-right: 4%;
  margin-top: 1.5%;
}

.texto3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: justify-all;
  background-color: rgb(249, 249, 221);
  color: #000;
  margin-left: 44%;
  margin-right: 4%;
  margin-bottom: -0.7%;
  margin-top: 2%;
}

.textox {
  background-color: rgb(249, 249, 221);
}

.subtitulo_2 {
  background-color: rgb(249, 249, 221);
  font-family: "Times New Roman", Times, serif;
  font-size: 120px;
  font-style: italic;
  letter-spacing: 15px;
  color: rgb(77, 76, 76);
  letter-spacing: normal;
  text-align: center;
  margin-top: 0.6%;
  margin-bottom: 0%;
  padding: 22px;
}

@media only screen and (min-width: 520px) and (max-width: 768px) {
  .imagen_rec {
    width: 100%;
    float: none;
  }
  .texto1 {
    font-size: x-large;
  }
  .texto2 {
    font-size: x-large;
  }
  .texto3 {
    font-size: x-large;
    text-align: center;
    word-spacing: 3px;
  }
  .subtitulo_2 {
    font-size: 32px;
  }
}/*# sourceMappingURL=estilos.css.map */