* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(250, 246, 246);
}

.navbar {
    background-color: rgb(255, 254, 253);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

.navbar .imagen_chica {
    height: 180px;
    width: 200px;
    grid-column: 2 / 3;
}

.navbar .menusuperior {
    grid-column: 4 / 7;
    display: flex;
    font-size: 33px;
    background-color: rgb(255, 255, 255);
}

.navbar ul li:hover {
    border: solid 1px black;
    transform: scale(1, 1);
}

.navbar ul li {
    margin-right: 3em;
    list-style: none;

}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.navbar a:hover {
    color: crimson;
}




/*      INICIO     */

@media only screen and (max-widht:480px) {
    .navbar {
        position: relative;
    }

    .navbar .menu_bar {
        display: block;
        grid-column: 8 / 9;
        font-size: 2em;
        cursor: pointer;

    }

    .navbar .menusuperior {
        position: absolute;
        width: 100%;
        height: 70vh;
        display: grid;
        align-items: center;
        background-color: rgb(255, 254, 253);
        margin-top: 38em;
    }
}





/*      MAIN     */
.hero {
    display: grid;
    height: 80vh;
    background-color: beige;
    background-size: relative;



}

.hero .imagenfr {
    height: 500px;
    display: grid;
    grid-column: initial;
    float: left;


}

.hero .textort {
    background-color: beige;
    margin-left: 50%;
    text-align: center;
    word-spacing: 5px;
    margin-top: 4%;
    display: flex;
    justify-content: left;


}

.hero .textortt {
    background-color: beige;
    display: flex;
    justify-content: center;
}

.hero .info-content {

    color: crimson;
    font-size: 45px;
    text-align: center;
    align-items: center;
    background-color: beige;

}

.hero .btn1 {
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    color: beige;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: red;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 35px;
    cursor: pointer;
}

.color_boton {
    background-color: beige;
}

/*      footer     */
/* footer */
footer {
    padding: auto;
    background-color: rgb(250, 246, 246);
    color: black;
    text-align: center;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: end;
}

footer .copyright {
    float: left;
    width: 20%;
    max-height: 10%;
    padding: 8px 15px;
    font-weight: 10px;
}

footer .redes-contenedor {
    display: flex;
    align-items: right;
    justify-content: right;
    margin-right: 2%;

}

footer .redes-contenedor ul li {
    display: inline-block;
    margin: 30px 20px;
    width: 30px;
    text-align: right;
}

footer .redes-contenedor ul li a {
    display: inline-block;
    padding: 0 10px;
    color: black;
    transition: .2s;

}



footer .datos {
    float: left;
    width: 55%;
    max-height: 10%;
    padding: 0 2 20px;
    margin: 7px;

}

footer nav {
    float: right;
}


/*      GALERIA     */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(250, 246, 246);

}

.banner_1 {
    display: table;
    justify-content: space-between;
    clear: both;
    background: rgb(216, 216, 216);
    width: 100%;
}

.imagen_nuestrotaller {
    width: 300px;
    height: 200px;
    float: left;
    padding: 8px;
    border: none;
}

.menusuperior_1 {
    float: right;
    height: 200px;
}

.menusuperior_1 li {
    list-style: none;
    padding: 6rem;
    float: left;
    font-size: 25.1px;
    color: black;
    position: relative;
}

.menusuperior_1 li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menusuperior_1 li a::before {
    display: block;
    width: 100%;
    background: rgb(248, 27, 27);
    height: 5px;
}

.figurita {
    background-color: beige;
}

.container-img {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;

}

.box-img:hover {
    border: solid 4px white;
    transform: scale(1, 1);
}

.container-img .box-img figure {
    width: 100%;
    height: 100%;
}

.container-img .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-img .box-img:nth-child(1) {
    grid-column-start: span 2;
}

.container-img .box-img:nth-child(4) {
    grid-row-start: span 2;
}

@media screen and (max-width:800px) {
    .container-img {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-rows: 200px;
    }

    .container-img .box-img:nth-child(1) {
        grid-column-start: span 1;
    }
}

@media screen and (max-width:500px) {
    .container-img {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }

    .container-img .box-img img {
        height: 200px;
    }
}

.footer1 {

    background-color: rgb(250, 246, 246);
    color: black;
    text-align: center;
    font-size: 25px;
    position: static;
    bottom: 0;
    width: 100%;
    justify-content: end;


}

.footer1 .copyright {
    float: left;
    width: 20%;
    max-height: 10%;
    padding: 8px 15px;
    font-weight: 10px;
}

.footer1 .redes-contenedor {
    display: flex;
    align-items: right;
    justify-content: right;
    margin-right: 2%;

}

.footer1 .redes-contenedor ul li {
    display: inline-block;
    margin: 30px 20px;
    width: 40px;
    text-align: right;
}

.footer1 .redes-contenedor ul li a {
    display: inline-block;
    padding: 0 10px;
    color: black;
    transition: .2s;

}

.footer1 .datos {
    float: left;
    width: 55%;
    max-height: 10%;
    padding: 0 2 20px;
    margin: 7px;
    background-color: red;
}

.footer1 .nav {
    float: right;
}






/*   SERVICIOS      */
.menusuperior_1 li {
    list-style: none;
    padding: 6.10rem;
    float: left;
    font-size: 25.1px;
    color: black;
    position: relative;
}

.section_servicios {
    margin-top: 20px;
    line-height: 2;
    column-count: 3;
    font-size: xx-large;
    text-decoration: none;
    list-style: none;
    margin-left: 3%;
    margin-bottom: 2%;

}

.titulo-imagenes {
    padding-left: 3rem;
    text-align: center;
    padding-right: 4%;



}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*Cards*/
.container-card {
    width: 100%;
    display: flex;
    max-width: 2100px;
    margin: auto;
    background-color: beige;
}

.card {
    width: 100%;
    height: 630px;
    margin: 80px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
    margin-top: 50px;

}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 400px;

}

.falaut {
    font-weight: 400;
    margin-bottom: 40px;
    font-size: 25px;
}

.debor {
    list-style: none;
    font-size: 30px;
    word-spacing: 5px;
    padding: 10px;


}


.card .contenido-card {
    padding: 15px;
    text-align: center;

}

.card .contenido-card h3 {
    margin-bottom: 15px;
    color: #7a7a7a;
}



.card .contenido-card a:hover {
    background: #2fb4cc;
    color: #fff;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .container-card {
        flex-wrap: wrap;
    }

    .card {
        margin: 15px;
    }
}

.footer_2 {
    color: rgb(0, 0, 0);
    background-color: rgb(3, 3, 3);
}

.footer_p11 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    font-size: xx-large;
    position: absolute;
    right: 7%;
    bottom: -10cm;

}

.footer_p22 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: xx-large;
    position: absolute;
    left: 2%;
    bottom: -41%;
}

.footer_h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: large;
    position: absolute;
    margin-top: 22%;
    margin-left: 50%;
    justify-content: center;
}

.footer_ul_2 {
    float: right;
    list-style: none;
    display: flex;
}

.hr_1 {
    margin-top: 6%;
    border-color: black;
    height: 2px;
}


/*      CONCTACTO     */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(250, 246, 246);
}

.body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.banner_1 {
    display: table;
    justify-content: space-between;
    clear: both;
    background: rgb(216, 216, 216);
    width: 100%;
}

.imagen_nuestrotaller {
    width: 300px;
    height: 200px;
    float: left;
    padding: 8px;
    border: none;
}

.menusuperior_1 {
    float: right;
    height: 200px;
}

.menusuperior_1 li {
    list-style: none;
    padding: 6.13rem;
    float: left;
    font-size: 25.1px;
    color: black;
    position: relative;
}

.menusuperior_1 li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menusuperior_1 li a::before {
    display: block;
    width: 100%;
    background: rgb(248, 27, 27);
    height: 5px;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;

    background-color: beige;
}

.container:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    filter: blur(50px);
    z-index: -1;
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
    background: url("imagenes/20170527_175529.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
}

.right {
    padding: 25px 40px;
}

h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;

}

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 150px;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #2ecc71;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: #27ae60;
}

.field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }

    .left {
        height: 200px;
    }
}

.mapita {
    width: 100%;
    height: 500px;

}

.mapita1 {
    max-width: 1400px;
    border: solid 1px;
    margin-top: 1%;
    margin-left: 15%;
    margin-bottom: 0%;



}

.footer3 {

    background-color: rgb(250, 246, 246);
    color: black;
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 0;
    width: 100%;
    justify-content: end;
    margin-bottom: 0%;
    border: 1px solid black;


}

.footer3 .copyright {
    float: left;
    width: 20%;
    max-height: 10%;
    padding: 8px 15px;
    font-weight: 10px;


}

.footer3 .things {
    margin-top: 1%;
}

.footer3 .redes-contenedor {
    display: flex;
    align-items: right;
    justify-content: right;
    margin-right: 2%;

}

.footer3 .redes-contenedor ul li {
    display: inline-block;
    margin: 30px 20px;
    width: 40px;
    text-align: right;
}

.footer3 .redes-contenedor ul li a {
    display: inline-block;
    padding: 0 10px;
    color: black;
    transition: .2s;

}

.footer3 .datos {
    float: left;
    width: 55%;
    max-height: 10%;
    padding: 0 2 20px;
    margin: 0;

}

.footer3 .nav {
    float: right;
}


/*      NOSOTROS     */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(250, 246, 246);


}

.banner_1 {
    display: table;
    justify-content: space-between;
    clear: both;
    background: rgb(216, 216, 216);
    width: 100%;
}

.imagen_nuestrotaller {
    width: 300px;
    height: 200px;
    float: left;
    padding: 8px;
    border: none;
}

.menusuperior_1 {
    float: right;
    height: 200px;
}

.menusuperior_1 li {
    list-style: none;
    padding: 6.13rem;
    float: left;
    font-size: 25.1px;
    color: black;
    position: relative;
}

.menusuperior_1 li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menusuperior_1 li a::before {
    display: block;
    width: 100%;
    background: rgb(248, 27, 27);
    height: 5px;
}

.papa {
    background-color: beige;
}

.imagen_rec {
    width: 800px;
    height: 600px;
    display: inline-block;
    vertical-align: auto;
    float: left;
    background-color: beige;

}

.texto1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 27.3px;
    letter-spacing: 1px;
    text-align: justify-all;
    background-color: beige;
    color: black;
    margin-left: 40%;
    margin-right: 2%;
    



}

.texto2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    letter-spacing: 1px;
    text-align: justify-all;
    background-color: beige;
    color: black;
    margin-left: 40%;
    margin-right: 2%;
    margin-top: 1.5%;



}

.texto3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    letter-spacing: 1px;
    text-align: justify-all;
    background-color: beige;
    color: black;
    margin-left: 40%;
    margin-right: 2%;
    margin-top: 1.5%;



}
.textox{
    background-color: beige;
}

.subtitulo_2 {
    background-color: beige;
    font-family: "Times New Roman", Times, serif;
    font-size: 110px;
    font-style: italic;
    letter-spacing: 15px;
    color: rgb(77, 76, 76);
    letter-spacing: normal;
    text-align: center;
    
    
}

.footer_2 {

    background-color: rgb(250, 246, 246);
    color: black;
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 0;
    width: 100%;
    justify-content: end;
    margin-bottom: 0%;


}

.footer_2 .copyright {
    float: left;
    width: 20%;
    max-height: 10%;
    padding: 8px 15px;
    font-weight: 10px;


}

.footer_2 .pepito {
    margin-bottom: 3%;

}

.footer_2 .redes-contenedor {
    display: flex;
    align-items: right;
    justify-content: right;
    margin-right: 2%;

}

.footer_2 .redes-contenedor ul li {
    display: inline-block;
    margin: 30px 20px;
    width: 40px;
    text-align: right;
}

.footer_2 .redes-contenedor ul li a {
    display: inline-block;
    padding: 0 10px;
    color: black;
    transition: .2s;

}

.footer_2 .datos {
    float: left;
    width: 55%;
    max-height: 10%;
    padding: 0 2 20px;
    margin: 0;

}

.footer_2 .nav {
    float: right;
}